@charset "UTF-8";

body { background-color: beige;}
h1 { color : blue; }
.active { color : tomato; }

.blue { background-color: blue;}
.yellow { background-color: yellow;}
.pink { background-color: pink;};